/* Symphony - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #0f1512;
  --background-primary-alt: #1b211e;
  --background-secondary: #252b29;
  --background-secondary-alt: #1b211e;
  --background-modifier-hover: #303633;
  --background-modifier-border: #3f4945;

  --text-normal: #dee4e0;
  --text-muted: #bfc9c4;
  --text-faint: #89938e;
  --text-on-accent: #00382c;

  --interactive-accent: #87d6bd;
  --interactive-accent-hover: #005141;
  --text-accent: #87d6bd;
  --text-accent-hover: #005141;

  --link-color: #87d6bd;
  --link-color-hover: #a9cbe2;
  --link-external-color: #b2ccc2;

  --code-background: #1b211e;
  --code-normal: #dee4e0;

  --text-error: #ffb4ab;
  --text-success: #a9cbe2;
  --text-warning: #b2ccc2;

  --divider-color: #3f4945;
  --icon-color: #bfc9c4;
  --icon-color-hover: #dee4e0;
  --tag-color: #87d6bd;
  --tag-background: #252b29;
}

::selection { background: #87d6bd40; }
