/* Symphony - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #101510;
  --background-primary-alt: #1c211c;
  --background-secondary: #262b27;
  --background-secondary-alt: #1c211c;
  --background-modifier-hover: #313631;
  --background-modifier-border: #414942;

  --text-normal: #dfe4dc;
  --text-muted: #c0c9bf;
  --text-faint: #8b938a;
  --text-on-accent: #00391c;

  --interactive-accent: #96d5a7;
  --interactive-accent-hover: #11512e;
  --text-accent: #96d5a7;
  --text-accent-hover: #11512e;

  --link-color: #96d5a7;
  --link-color-hover: #a2ceda;
  --link-external-color: #b6ccb9;

  --code-background: #1c211c;
  --code-normal: #dfe4dc;

  --text-error: #ffb4ab;
  --text-success: #a2ceda;
  --text-warning: #b6ccb9;

  --divider-color: #414942;
  --icon-color: #c0c9bf;
  --icon-color-hover: #dfe4dc;
  --tag-color: #96d5a7;
  --tag-background: #262b27;
}

::selection { background: #96d5a740; }
